{% load static %}

<!-- This example requires Tailwind CSS v2.0+ -->
<header class="w-full z-50">
    <nav class="bg-white border-b">
        <div class="mx-auto px-4 sm:px-6 lg:px-8">
            <div class="relative flex h-14 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <button type="button"
                        class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                        aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>

                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>

                        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                        <img class="block h-8 w-auto lg:hidden" src="{% static 'img/CoatofArms_Lg.png' %}"
                            alt="One Health Detects">
                        <img class="hidden h-8 w-auto lg:block" src="{% static 'img/CoatofArms_Lg.png' %}"
                            alt="One Health Detects">

                        <div class="px-2 text-base font-bold text-center text-gray-700 md:text-base">
                            Maafa Chatbot
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

                            <div class="pt-3 pb-2">
                                <a href="{% url 'threads:lists' %}"
                                    class="p-2 my-3 hover:bg-green-100 hover:rounded-md hover:text-green-900 text-sm font-medium"
                                    aria-current="page">
                                    Threads
                                </a>
                            </div>

                            <div class="pt-3 pb-2">
                                <a href="{% url 'threads:links' %}"
                                    class="p-2 my-3 hover:bg-green-100 hover:rounded-md hover:text-green-900 text-sm font-medium">
                                    Links
                                </a>
                            </div>

                            <div class="pt-3 pb-2 ">
                                <a href="{% url 'threads:create' %}"
                                    class="p-2 rounded-sm text-white bg-green-700 hover:bg-green-900 text-sm font-medium">
                                    <i class="mdi mdi-add-circle-outline"></i> Create Thread
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hidden md:block">
                    <div class="ml-4 flex items-center md:ml-6">
                        <!-- Profile dropdown -->
                        <div x-data="{dropdownMenu: false}" class="relative ml-3">
                            <div>
                                <button @click="dropdownMenu = ! dropdownMenu" type="button"
                                    class="flex items-center focus:outline-none mr-3" id="user-menu-button"
                                    aria-expanded="false" aria-haspopup="true">
                                    <!-- <img class="w-8 h-8 rounded-full mr-4" src="" alt="Renfrid"> -->
                                    <span class="hidden md:inline-block text-sm">Hi, {{ user.first_name }}
                                    </span>
                                    <svg class="pl-2 h-2" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        enable-background="new 0 0 129 129">
                                        <g>
                                            <path
                                                d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" />
                                        </g>
                                    </svg>
                                </button>
                            </div>

                            <div x-show="dropdownMenu" @click.outside="dropdownMenu = false"
                                class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button"
                                tabindex="-1">
                                <!-- Active: "bg-gray-100", Not Active: "" -->
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                                    id="user-menu-item-1">Change Password</a>

                                <a  href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                                    id="user-menu-item-2">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pt-2 pb-3">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
                    aria-current="page">Threads</a>

                <a href="#"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
                    Linking
                </a>
            </div>
        </div>
    </nav>
</header>