{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %} Delete Thread {% endblock %}

{% block contents %}

<main class="bg-white h-full relative">
    <div class="w-full h-full overflow-y-scroll">
        <div class="mx-auto py-4 px-4 sm:px-6 lg:px-8">

            <form method="post">{% csrf_token %}
                <p class="mb-3">Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" value="Confirm" 
                class="text-white bg-red-800 hover:bg-red-900 focus:ring-4 font-medium rounded text-sm w-full sm:w-auto px-5 py-2.5 text-center" />
            </form>

        </div>
    </div>
</main>

{% endblock %}